// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
	height: 100%;
}

#main {
	background-image: url('/assets/main.jpg');
	width: 1280px;
	height: 800px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
}